
<!DOCTYPE HTML>  
<html>
<head>
  <title> Gram </title>
  <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' %> 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>
    
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to"", root_url %> # =><a class="navbar-brand" href="http://localhost:3000/">Gram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="navbar nav-item">
              <%= link_to"", new_post_path %> # =><a class="navbar nav-link" href="http://localhost:3000/posts/new">New Post</a>
            </li>
            <%- if  current_user %>
            <li>
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
              <li class="navbar navbar-item">
                <a class="navbar nav-link" href="http://localhost:3000/users/sign_in">Login</a>
              </li>
              <li class="navbar navbar-item">
                <a class="navbar nav-link" href="http://localhost:3000/users/sign_up">Register</a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>


    <div class = container>

      <div class ="row">
        <div class = "col-lg-12 text-center">
          <% flash.each do |a, b| %>
            <div class = "alert alert-success"> <%= b %> </div>
          <%end %>
          <%= yield %>
        </div>
      </div>

    </div>
<!--   <style> body{padding-top:70px;} </style> -->
</body>
</html>